body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  max-width: 80%;
  min-height: 700px;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-top: 3em;
  position: relative;
}

.search-box-filter {
  margin: 2em;
  width: fit-content;
  display: flex;
}

.filter-button {
  margin-left: 1em !important;
}

.image-viewer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: auto;
  z-index: 99;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #e8e8e8;
  box-shadow: 1px 2px 9px 8px #4e4e4e29;
}

.image-item {
  cursor: pointer;
}

.image-viewer {
  width: 85%;
  height: auto;
  padding: 2em;
  margin: auto;
}

.image-viewer img {
  width: 100%;
}

.skeleton-height {
  height: calc(100% / 3 - 40px) !important;
}

.close-button {
  position: absolute;
  cursor: pointer;
  right: 17px;
  top: 12px;
}

.masonry-box {
  margin: auto !important;
}