@import '~leaflet/dist/leaflet.css';
@import '~@changey/react-leaflet-markercluster/dist/styles.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  max-width: 80%;
  min-height: 700px;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-top: 3em;
  padding-bottom: 3em;
  position: relative;
}

.search-box-filter {
  margin: 2em;
  width: fit-content;
  display: flex;
}

.filter-button {
  margin-left: 1em !important;
}

.image-viewer-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  height: auto;
  z-index: 9999;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #e8e8e8;
  box-shadow: 1px 2px 9px 8px #4e4e4e29;
}

.image-item {
  cursor: pointer;
}

.image-viewer {
  width: 65%;
  height: auto;
  padding: 2em;
}

.image-viewer img {
  width: 100%;
}

.skeleton-height {
  height: 30% !important;
}

.close-button {
  position: absolute;
  cursor: pointer;
  right: 17px;
  top: 12px;
}

.masonry-box {
  margin: auto !important;
}

.info {
  border-bottom: 2px solid rgb(71, 143, 43);
  width: 100%;
  margin-bottom: 2em;
  text-align: right;
}

.info-items {
  padding-left: 0.3em;
  font-size: 50px !important;
  color: rgb(145 145 145 / 70%) !important;
  font-weight: 500;
  line-height: 1;
}
.info p {
  color: rgb(170, 170, 170);
  font-size: 25px;
  display: inline-block;
  margin:0;
  padding-bottom: 10px;
}

.list-container {
  width: 80%;
  margin: auto;
}

.divider-margin {
  margin-left: 130px !important;
}

.text-list-info {
  padding-left: 35px;
  cursor: pointer;
}

.text-list-info:hover {
  text-decoration: underline;
}

.location-icon {
  font-size: 18px !important;
  padding-right: 5px;
}

.img-list {
  cursor: pointer;
}

.location {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: gray;
  padding-top: 1em;
}
.view-btn {
  text-align: left;
  padding-left: 1em;
  margin-bottom: 2em;
}

.gallery-btn {
  border-radius: 0 !important;
  border-left: 1px solid #c4c4c44f !important;
}

.map-btn {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0  !important;
}

.list-btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0  !important;
  border-left: 1px solid #c4c4c44f !important;
}

.leaflet-popup-content p {
  margin: 0 !important;
}

.text-list-info-popup {
  padding-left: 20px;
  cursor: pointer;
}

.map-warning {
  margin-top: 1.5em;
  color: gray;
}

.image-details {
  display: flex;
}

.image-details-text {
  padding: 2em;
  padding-top: 4em;
  padding-left: 1.5em;
  width: 20%;
}

.general-details {
  text-align: left;
}

.detail-title {
  font-weight: 700;
}

.detail-item {
  margin: 0.8em;
  margin-left: 0;
  margin-right: 0;
}

.detail-item-text {
  margin-top: 0.3em;
  margin-left: 0.9em;
}

.annotations {
  text-align: left;
  margin-top: 1em;
  border-top: 1px solid rgb(177, 177, 177);
  padding-top: 1em;
}

.annotations-title {
  margin-bottom: 0.7em;
}

.annotations-list {
  color: gray;
}

.annotations-item {
  padding: 0.3em;
  padding-left: 0.5em;
}

.annotation-canvas {
  position: absolute;
  left: 2em;
}